/* This file contains all the constants for colors and font styles */

$body-font: 'Open Sans', sans-serif;
$head-font: 'Roboto Mono', monospace;
// Note that Gill Sans is the top of the stack and corresponds to what is used in Tufte's books
// However, it is not a free font, so if it is not present on the computer that is viewing the webpage
// The free Google 'Lato' font is used instead. It is similar.
$sans-font: 'Open Sans', sans-serif;
$code-font: Consolas, "Liberation Mono", Menlo, Courier, monospace;
$url-font: "Lucida Console", "Lucida Sans Typewriter", Monaco, "Bitstream Vera Sans Mono", monospace;
$text-color: #313639;
$bg-color: #E6EFF2;
$contrast-color: #21B2B2;
$border-color: #333333;
$link-style: color; // choices are 'color' or 'underline'. Color option styles links with $contrast-color set above
