.max-w-7xl {
  max-width: 80rem;
}

.mx-auto { 
  margin-left: auto;
  margin-right: auto;
}

.flex { display: flex }

.items-center { align-items: center; }

.justify-center { justify-content: center; }

.w-full { width: 100%; }

.w-90 { width: 90%; }