<!--<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
    {% include header.html %}
    <article class="group">
      {{ content }}
    </article>
    {% include print-footer.html %}
    {% include footer.html %}
  </body>
</html>-->

<!DOCTYPE html>
<html>
        <head>
		<!-- Global site tag (gtag.js) - Google Analytics -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=UA-155507164-1"></script>
		<script>
			window.dataLayer = window.dataLayer || [];
			function gtag(){dataLayer.push(arguments);}
			gtag('js', new Date());

			gtag('config', 'UA-155507164-1');
		</script>

                <!-- start favicon -->
                <link rel="apple-touch-icon" sizes="57x57" href="/css/favicon/apple-icon-57x57.png">
                <link rel="apple-touch-icon" sizes="60x60" href="/css/favicon/apple-icon-60x60.png">
                <link rel="apple-touch-icon" sizes="72x72" href="/css/favicon/apple-icon-72x72.png">
                <link rel="apple-touch-icon" sizes="76x76" href="/css/favicon/apple-icon-76x76.png">
                <link rel="apple-touch-icon" sizes="114x114" href="/css/favicon/apple-icon-114x114.png">
                <link rel="apple-touch-icon" sizes="120x120" href="/css/favicon/apple-icon-120x120.png">
                <link rel="apple-touch-icon" sizes="144x144" href="/css/favicon/apple-icon-144x144.png">
                <link rel="apple-touch-icon" sizes="152x152" href="/css/favicon/apple-icon-152x152.png">
                <link rel="apple-touch-icon" sizes="180x180" href="/css/favicon/apple-icon-180x180.png">
                <link rel="icon" type="image/png" sizes="192x192"  href="/css/favicon/android-icon-192x192.png">
                <link rel="icon" type="image/png" sizes="32x32" href="/css/favicon/favicon-32x32.png">
                <link rel="icon" type="image/png" sizes="96x96" href="/css/favicon/favicon-96x96.png">
                <link rel="icon" type="image/png" sizes="16x16" href="/css/favicon/favicon-16x16.png">
                <link rel="manifest" href="/css/favicon/manifest.json">
                <meta name="msapplication-TileColor" content="#ffffff">
                <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
                <meta name="theme-color" content="#ffffff">
                <!-- end favicon -->
        
                <meta charset="utf-8">  
                <meta name="google" content="notranslate">
                <meta name="viewport" content="width=device-width, initial-scale=1">
                <meta http-equiv="X-UA-Compatible" content="IE=edge">
                <meta name="keywords" content="footer, address, phone, icons" />
                <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
                <link rel="stylesheet" type="text/css" href="{{site.baseurl}}/css/style.css">
                <title>VolSweep blog</title>
        
	</head>

        <!-- class="notranslate" is to get rid of chrome translation window -->
        <body class="notranslate">
                <div class="topnav" id="myTopnav">

                        <!-- Left-aligned links (default) -->
			<a style="float: left; margin-left: 15px" href="https://blog.volsweep.com/">
				<img id="logo" src="/css/logo/VOL_Logo_Color_Dark_Green.png" height="23" />
	
			</a>

			<!-- Right-aligned links -->
                       
			
			<!-- Navigation links (hidden by default) -->
			  <div id="myLinks">
			    <a href="https://www.volsweep.com" style="border: 1.5px solid transparent;">To Main Site</a>
			  </div>
			  <!-- "Hamburger menu" / "Bar icon" to toggle the navigation links -->
			  <a href="javascript:void(0);" class="icon" style="border: 1.5px solid transparent;" onclick="document.getElementById('myLinks').style.display = (document.getElementById('myLinks').style.display == 'block') ? 'none' : 'block'">
			    <i class="fa fa-bars" style="border: 1.5px solid transparent;"></i>
			  </a>
			
			 <a style="margin-right: 15px" href="https://www.volsweep.com">To Main Site</a>
                
		</div>

		<div class="body-div">
			<!-- breadcrumbs navigation bar -->
			
			{{ content }}
			
			<br />
			{% if page.comments %}
			<div id="disqus_thread"></div>
			<script>
				/*var disqus_config = function () {
				this.page.url = https://blog.volsweep.com;
				this.page.identifier = "{{ page.id }}";
				};*/
				(function() { // DON'T EDIT BELOW THIS LINE
					var d = document, s = d.createElement('script');
					s.src = 'https://blog-volsweep-com.disqus.com/embed.js';
					s.setAttribute('data-timestamp', +new Date());
					(d.head || d.body).appendChild(s);
				})();
			</script>
			<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments.</a></noscript>
			{% endif %}
		</div>

                <div style="clear: both;"></div>

                <footer class="page-footer clearfix">
                        <div class="footer-content-wrapper">
                                <div class="logo-header footer-col large-25 small-50 tiny-100 ta-l flt">
                                        <h3>
                                                <span style="color: transparent;">&nbsp;</span>

                                        </h3>
                                        <a>175 Varick St.</a><br/>
                                        <a>New York, NY 10014</a>

                                </div>

                                <div class="footer-col large-25 small-50 tiny-100 ta-l flt">
                                        <h3 class="dark-ui">Company</h3>
                                        <a id="footer-button" href="https://www.volsweep.com/about">About us</a><br/>
                                        <!--<a id="footer-button" href="https://www.volsweep.com/faq">FAQ</a><br/>-->
                                        <a id="footer-button" href="https://www.volsweep.com/careers">Careers</a><br/>
					<a>&nbsp;</a>

                                </div>

                                <div class="footer-col large-25 small-50 tiny-100 ta-l flt">
                                        <h3 class="dark-ui">Legal</h3>
                                        <a id="footer-button" href="https://www.volsweep.com/privacy">Privacy policy</a><br />
                                        <a id="footer-button" href="https://www.volsweep.com/terms">Terms of service</a><br />
                                        <a id="footer-button" href="https://www.volsweep.com/cookies">Cookies</a>

                                </div>

                                <div class="footer-col large-25 small-50 tiny-100 ta-l flt">
                                        <h3 class="dark-ui">Connect</h3>
                                        <a id="footer-button" href="https://www.volsweep.com/contact">Contact</a><br />
					<a id="footer-button" href="https://www.volsweep.com/">Main site</a>
					<a>&nbsp;</a>

                                </div>

                        </div>

                        <div class="footer-clear" align="center">

                                <a href="https://www.builtinnyc.com/company/volsweep" target="_blank">
					<span style="color: #E6EFF2;font-size: 12pt;">Made with</span>
                                        <span style="color: #78F2F2;font-size: 12pt;"> &#9829;&#xFE0E;</span>
                                        <span style="color: #E6EFF2;font-size: 12pt;">in NYC</span>
                                </a>

                                <a href="http://digital.nyc/startups/volsweep" target="_blank">
                                        <span style="color: #E6EFF2;font-size: 12pt;"> © 2019 VolSweep, Inc.</span>
                                </a><br />
                                <!-- <a href="https://www.facebook.com/volsweep/" target="_blank"><i class="circle fa fa-facebook"></i></a>-->
                                <a href="https://github.com/volsweep/volsweep.github.io" target="_blank"><i class="circle fa fa-github"></i></a>
				<!--<a href="https://www.instagram.com/volsweep/" target="_blank"><i class="circle fa fa-instagram"></i></a>-->
                                <a href="https://www.linkedin.com/company/volsweep" target="_blank"><i class="circle fa fa-linkedin"></i></a>
                                <a href="https://www.twitter.com/volsweep" target="_blank"><i class="circle fa fa-twitter"></i></a>
                                <!--<a href="https://www.youtube.com/channel/UCxPiDPDTKST1HKOpuRX9M1g" target="_blank"><i class="circle fa fa-youtube"></i></a>-->

                        </div><br />

                </footer>
	
		<script id="dsq-count-scr" src="//blog-volsweep-com.disqus.com/count.js" async></script>
	
        </body>

</html>
